@using Shared
@using System.Text.Json
@using FTPNode.Client.Components
@inject AppState State
@inject IJSRuntime JS
@page "/settings"

<PageTitle>@($"{(State.Settings.TryGetValue("title", out var v) ? v : "FTP Node")} - Settings")</PageTitle>
<h2>Theme</h2>
@if (!State.Settings.ContainsKey("availablethemes"))
{
    <p>No themes available.</p>
}
else
{
    <div style="display:flex;">
        @foreach (var item in JsonSerializer.Deserialize<List<string>>(State.Settings["availablethemes"]))
        {
            <div style="display:flex; flex-direction:column; align-items:center; gap:0.2rem; margin-right:1rem;">
                <div data-theme="@item" @onclick=@(() => { State.RememberMe.Theme = item; State.TriggerSaveRemember(); }) style="width:50px; height:50px; background-color: color-mix(in srgb, var(--bg-main, #007bff) 85%, var(--text-main,black)); border-radius:50%; display:flex; justify-content:center; align-items:center; color:white; font-weight:bold; cursor:pointer;" title="@item">
                    @(item.Substring(0, 1).ToUpper())
                </div>
                <p style="margin:0">@item</p>
            </div>
        }
    </div>
}
<br />
<h2>Trusted Certificates</h2>
<div style="display:grid; grid-template-columns: 20fr 40fr 20fr 5fr">
    @foreach (var item in certs)
    {
        <p style="margin:0">@(item.Name.StartsWith("CN=") ? item.Name.Substring(3) : item.Name)</p>
        <p style="margin:0; overflow-x:hidden; text-overflow:ellipsis" title="@item.Thumbprint">@item.Thumbprint</p>
        <p style="margin:0; text-align:center">@item.Added.ToSaneString()</p>
        <i style="cursor:pointer; display:flex; justify-content: center; align-items: center;" title="Delete" class="fa-solid fa-trash-can" @onclick="() => Remove(item)"></i>
    }
</div>
@code {
    private List<TrustedCertDto> certs = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            certs = JsonSerializer.Deserialize<List<TrustedCertDto>>(await JS.InvokeAsync<string>("localStorage.getItem", "trustedCerts"));
        }
        catch { }
        await base.OnInitializedAsync();
    }
    private async Task Remove(TrustedCertDto item)
    {
        certs.Remove(item);
        await JS.InvokeVoidAsync("localStorage.setItem", "trustedCerts", JsonSerializer.Serialize(certs));
    }
}
